<ng-container *ngIf="tasksList.length > 0; else tasksNotFound">
    <form [formGroup]="searchForm" class="container">
        <div class="mb-4">
            <label for="tasks-list" class="form-label fw-bold"> Current Tasks List (*) </label>
            <select class="form-select" aria-label="Default select example" formControlName="selectedTaskID">
                <ng-container *ngFor="let task of tasksList; index as i">
                    <ng-container *ngIf="i == 0; else notSelectedOption">
                        <option selected value={{task.taskID}}> Task no. {{task.taskID}} - {{task.taskTitle}}</option>
                    </ng-container>

                    <ng-template #notSelectedOption>
                        <option value={{task.taskID}}> Task no. {{task.taskID}} - {{task.taskTitle}}</option>
                    </ng-template>
                </ng-container>
            </select>
        </div>

        <button type="button" (click)="onSubmit()" class="btn btn-primary"> Load Task Data </button>
    </form>

    <ng-container *ngIf="taskIsSelected">
        <div class="mt-4">
            <app-form-structure [confirmFormSubmitAlert]="confirmFormSubmitAlert" [formSubmitAlertMessage]="formSubmitAlertMessage"
            [submitButtonText]="submitButtonText" [crudOperation]="crudOperation" [readonlyForm]="readonlyForm" [taskData]="taskData"> </app-form-structure>
        </div>
    </ng-container>
</ng-container>

<ng-template #tasksNotFound>
    <div class="alert alert-warning" role="alert">
        {{tasksListNotFoundMessage}}
    </div>
</ng-template>