<h3> <i class="bi bi-bookmarks-fill"> </i> My-To-Do Manager </h3>
<hr class="border border-dark mb-4"> 

<div class="row">
    <div class="col-sm-12 col-md-8">
        <p> 
            This web application was built with the purpose to make the classic My-To-Do Lists something easier to do! 
            You can manage all of your tasks and duties records (them, add, update, remove and even save them).
        </p>

        <p>
            In future versions we hope to add integration with already existing reminders applications, such as Google Calendar 
            or iOS reminders native applications. However, use API's to build communications from this SPA it's absolutely necessary,
            so incorporate a backend service will be important too. 
        </p>

        <p>
            This software architecture is based on a three layered application concept: data (classes designed to manage information),
            logic (all the algorithms to support the entire SPA functionality) and interface (graphical interfaces for user interaction).
        </p>

        <p class="mb-0">
            Software developed with Angular v14 in march, 2023.
        </p>
    </div>

    <div class="col-sm-12 col-md-4 align-self-center">
        <div class="mt-4 mt-md-0 d-flex justify-content-center">
            <img class="img-fluid" src="assets/img/books.png">
        </div>
    </div>
</div>